*{
    margin:0;
    padding:0;
}
.big-big{
    width: 1349px;
    height: 1107px;
    margin:0 auto;
}
.diyi-one{
    width: 1349px;
    height: 32px;
    margin: 0 auto;
    border-bottom: 2px solid #EAEAE2;
}
.diyi-one01{
    width: 960px;
    height: 30px;
    margin:0 auto;
}
.diyi-oneleft{
    width: 381px;
    height: 30px;
    font-size: 12px;
}
.diyi-oneleft a:hover.equal {
    border-bottom: 2px solid #62BE3F;
    color: #62BE3F;
}
.diyi-oneleft a:hover.wangye {
    border-bottom: 2px solid #62BE3F;
    color: #62BE3F;
}
.diyi-oneleft li a{
    text-decoration: none;
}
.diyi-oneright li a{
    text-decoration: none;
}
.diyi-oneright{
    width: 320px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    position: absolute;
    right: 196px;
    text-decoration: none;
}
 a:hover.equal-1{
    color:#62BE3F;
}
 a:hover.equal-one1{
    color:#62BE3F;
}
.diyi-one01 .fudong{
    float: left;
}
ul li{
    list-style: none;
}
.fudong li{
    float:left;
}
.fudong .tt{
    float: left;
    color: #666;
}
.wangye{
    display: inline-block;
    width: 61px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #666;
    font-weight: 700;
    font-family: "宋体"；
}
a.equal{
    display: inline-block;
    width: 36px;
    height: 30px;
    line-height: 30px;
     text-align: center;
      color: #666;
}
a.equal-one{
    display: inline-block;
    width: 24px;
    height: 33px;
     color: #333;
}
.zhuye{
    display: inline-block;
    width: 116px;
    height: 20px;
    color: #333;
    margin-top: -2px;
}
.equal-one1{
    display: inline-block;
    width: 36px;
    height: 33px;
     color: #333;
}
.tt{
    display: inline-block;
    width: 17px;
    height: 13px;
    border-left: 1px solid #666;
    position: relative;
    top: 8px;
    right: -8px;
}
.clear{
    clear:both;
}
.fz{
    display: inline-block;
    width: 17px;
    height: 21px;
    background-image:url(../../img/35.png);
    background-position: 15px -319px;
    position: relative;
    top: 6px;
    left: -2px;
}
.sanjiao-xia{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url(../../img/10.gif);
    background-position: -409px -146px;
    position: relative;
    top: 2px;
}
.dier-two{
    width: 1349px;
    height: 486px;
    background-image: url(../../img/43.jpg);
}
.btn{
    display: inline-block;
    width: 244px;
    height: 108px;
    background-image: url(../../img/18e.png);
    background-position: 0px -600px;
    position:relative;
    top:262px;
    left: 237px;
}
a:hover.btn{
    display: inline-block;
    width: 244px;
    height: 108px;
    background-image: url(../../img/18e.png);
    background-position: 0px -749px;
    position:relative;
    top:262px;
    left: 237px;
}
.sao-ma{
    display: inline-block;
    width: 176px;
    height: 176px;
    line-height: 176px;
    border-radius: 12px;
    background-color: #fff;
    text-align: center;
     border: 1px solid #ccc;
    border-radius: 12px;
    position: relative;
    top: 272px;
    right: -260px;
}
.sao-ma1{
    display: inline-block;
    width: 158px;
    height: 158px;
    background-image: url(../../img/65.png);
    position: relative;
    top: 7px;
    right: 1px;
}
.zui-hou{
    width: 990px;
    height: 446px;
    margin: 0 auto;
    margin-top:100px;
        }
.zui-hou li{
    display: list-item;
    width: 278px;
    height: 80px;
    float: left;
    margin-right: 50px;
    margin-bottom: 50px;
}
.tu{
    display: inline-block;
    width: 68px;
    height: 75px;
    background-image: url(../../img/8e.png);
    background-position: 0px 0px;
}.tu1{
    display: inline-block;
    width: 68px;
    height: 75px;
    background-image: url(../../img/8e.png);
    background-position: 0px -92px;
}.tu2{
    display: inline-block;
    width: 68px;
    height: 75px;
    background-image: url(../../img/8e.png);
    background-position: 0px -191px;
}.tu3{
    display: inline-block;
    width: 68px;
    height: 75px;
    background-image: url(../../img/8e.png);
    background-position: 0px -291px;
}.tu4{
    display: inline-block;
    width: 68px;
    height: 75px;
    background-image: url(../../img/8e.png);
    background-position: 0px -391px;
}.tu5{
    display: inline-block;
    width: 68px;
    height: 75px;
    background-image: url(../../img/8e.png);
    background-position: 0px -491px;
}
.wenzi{
    display: inline-block;
    width: 210px;
    height: 80px;
    margin-left: 60px;
}
.p{
    display:inline-block;
}
.zi{
    font:16px "微软雅黑";
    font-weight: 700;
    margin: 3px 0;
}
.duo{
    display: inline-block;
    height: 48px;
    line-height: 23px;
    color: #6c6c6c;
    font-size: 14px;
    font-family: "宋体";
}

.zui-xia{
    width: 960px;
    height: 44px;
    line-height: 44px;
    margin: 0 auto;
}
.xia{
    width: 100%;
    height:44px;
     background-color: #ededef;
}
.zui-xia li {
   display:inline;

}
.zui-xia a{
    text-decoration: none;
    font-size: 12px;
    color:#333;

}
.zui-xia{
    color: #ccc;
    font-size: 12px;
}
ul {
    display: inline-block;
}.hh{
    float: right;
}
.shuzi{
    font-family: "Arial";
    color: #333;
}
a:hover.yanse{
    color:#EE3636;
    text-decoration:underline;
}
a.juzi{
    color:#EE3636;
}
a:hover.beijing{
    text-decoration:underline;
}
.biao{
    display: inline-block;
    width: 12px;
    height: 14px;
    background-image: url(../../img/78.png);
        background-position: -1px -132px;
    position: relative;
    top: 2px;
    right: 3px;
}
.jz{
    display: inline-block;
    width: 19px;
    height: 19px;
    background-image: url(../../img/1.png);
    background-position: -519px -31px;
    position: relative;
    top: 2px;
    right: 3px;
}
.t-t{
    width: 1190px;
    height: 30px;
    background-color: red;
}
