/* .home{
  background-color:red;
   height: 50px;
     background-image: url(../../img/8.gif);
     width:46px;
     height:44px;
}
.left-arrow{
    background-image: url(../../img/8.gif);
    height:44px;
    width: 43px;
    height: 44px;
    background-position: -47px 0px;
} */
.sogou-menu{
    position: absolute;
    right: 15px;
    top: 14px;
    font-size: 12px;
}
.sogou-menu a{
  color:  #5050DC;
  /* font-weight:bold; */
}
.wy a{
  color: #333;
}
ul li a{
  color:  #5050DC;
  font-weight:bold;
}
.sg li a{
   color: #5050DC;
  font-weight:bold;
}
.sogou-menu i{
    display: inline-block;
    background:url(../../img/9.gif);
    width:24px;
    height:13px;
    position: relative;
    right:3px;
   top: 3px;

}
.sogou-menu i.hf{
    background-position: -63px 0px;
}.sogou-menu i.sz{
    background-position: 96px 0px;
}.sogou-menu i.dl{
    background-position: 24px 0px;
}
.sx{
  border-left: 1px solid #ccc;
}
ul li{
  list-style: none;
}
.xulie li{
float:left;
margin-right: 10px;
}
.xulie{
  width: 500px;
  height: 250px;
  margin: 0 auto;
  position: relative;
  top:91px;
}
.tp{
  width: 300px;
  height: 100px;
  position:relative;
  margin:0 auto;
}
.bk{
  border: 1px solid #6b6b6b;
  width:500px;
  height:27px;
  display: inline-block;
}
.bk input{
  width: 400px;
  height: 16px;
  margin-left: 7px;
  margin-top: 3px;
  border:none;
}
.bk.input:focus{
  outline:none;

}
.zb{
  width: 600px;
  height: 30px;

}
.an{
  width: 80px;
  height: 29px;
  background-color: #999;
  border:none;
  position: relative;
  left:-8px;
  top: 2px;

}
.sg{
  width: 400px;
  height: 20px;
  margin: 0 auto;
  position: relative;
  top:30px;
  text-align: center;
}
.sg li{
  list-style: none;
  margin-left:28px;

}
.qgmy li a{
  font-weight: normal;
}
.qgmy{
  display:block;
  position: absolute;
  width: 400px;
  height: 40px;
  margin-left: -38px}
.qgmy li a{
  display: inline-block;
  float: left;
  text-decoration: none;
}
.qgmy li{
  margin-right: 10px;
}
.clear{
  clear: both;
}
.xm{
  position: absolute;
  width:262px;
  height:99px;
  margin-left: 635px;
  margin-right: 100px;
  position: absolute;
  color: #999;
  top: 521px;
}
.xm .qgmy li a{
  color:#999;
}
.qy{
border-left: 1px solid #ccc;
}
.gy{
border-left: 1px solid #ccc;
}
.mz{
border-left: 1px solid #ccc;
}
.qgmy li{
  float: left;
}

.hm{
  position: absolute;
  width: 260px;
  height:39px;
  top: 43px;
}
.g{
  margin-left: 10px;
}
.ts{
  background-image: url(../../img/10.gif);
  background-position: -622px 425px; 
}

.ts{
  display: inline-block;
  width: 20px;
  height: 19px;
  position: relative;
  top: 3px;
  left: -6px;
}

.sg-li {
 list-style:none;
 position: absolute;
 width: 400px;
 height: 40px;
 margin-left: -122px;
 margin-top: 34px;
}
.app{
    font-weight: bold;
    margin-top: -3px;
}
.sx{
  margin-top: 10px;
}

