*{
    margin: 0;
    padding:0;
}
a{
    text-decoration: none;
}
.zui-da{
    width: 1200px;
    margin:0 auto;
}
.tpjl{
    background-image: url(../../img/14.png);
}
.logo{
    width: 100%;
}
.logo1{
    width: 1200px;
    height: 52px;
    margin: 0 auto;
    position: relative;
    padding-top: 10px
}
.zuishangmian{
    display: block;
    position: absolute;
    height: 115px;
    width:1349px;
}
.nanse-1{
    width: 1200px;
    height: 40px;
    margin:0 auto;
}
.yi-kuai{
    width: 700px;
    height: 42px;
    float: right;
        position: relative;
    top: 3px;
}
.yilongtu{
    display: inline-block;
    width: 120px;
    height: 50px;
    background-position: 302px  0px;
}
.nanse{
    background-color: #2064C8;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-family:"Microsoft Yahei";

}
.jlwbe li{
    display: inline-block;
    list-style: none;
    font-size: 13px;
    margin-right: 7px;

    }
.jlwbe {
    position: relative;
    display: inline-block;
    width: 341px;
    height: 20px;
    top: -13px;
}
.jlwbe li a{
    color: #999;
    font-family: Arial;

}
.clear{
    clear:both;
}
.bk-left{
    width: 2px;
    height: 14px;
    display: inline-block;
    border-left: 1px solid #999;
    margin-left: 1px;
    margin-bottom: -3px;
    margin-left: -7px;
}
.sanjiao{
    display: inline-block;
    background-image: url(../../img/15.png);
    background-position: 244px -11px;
    width:13px;
    height:7px;
}
.shouji{
    display: inline-block;
    background-image: url(../../img/16.gif);
    background-position: 0px 0px;
    width: 40px;
    height: 40px;
}
ul li{
    list-style: none;
}
.wenzi{
    display: inline-block;
    color: #ff6a6a;
    width: 81px;
    height: 37px;
    position:relative;
    top: -6px;
    font-size:14px;
    font-family:  "Microsoft yahei";
}
.wenzi li a{
      font:14px 18px;
     font-family:  "Microsoft yahei";
    color: #ff6a6a;
}
.dianhua{
    display: inline-block;
    background-image: url(../../img/17.png);
    background-position: -43px -3px;
    width: 40px;
    height: 40px;
    position: relative;
    top: 2px;
    right: -36px;}
.shuzi{
     position: absolute;
    top: 3px;
    right: 19px;
    font:14px 18px;
    font-family:  "Microsoft yahei";
}
.yanse{
    color: #999;
    font-size: 14px;
}
.yanse-xia{
    color: #2064c8;
    width: 50px;
    height: 50px;
    width: 108px;
    height: 22px;
}
.shuzi li.yanse-xia .s-j{
    display:inline-block;
    width: 13px;
    height: 6px;
    background-image: url(../../img/17.png);
    background-position: 225px -11px;
    position:absolute;
    top: 29px;
    right:-15px;
}
.nanse li{
    display: inline-block;
    height: 40px;
    float: left;
    padding:0px 12px 0px 12px;
    font-size: 14px;
    border-right:1px solid #3774ce;
    position: relative;
    left: 75px;
}
.nanse li a{
    color: #fff;

}
.shouye{
background-color: #003679;
}
.gjjd{
    background-position: 452px 1px;
    height: 26px;
    width: 22px;
    display: inline-block;
    position: absolute;
    top: -10px;
    right: 3px;
}
.dzgy{
    background-position: 490px -22px;
    height: 27px;
    width: 39px;
    display: inline-block;
    position: absolute;
    top: -17px;
    right: -3px;
}
.qcp{
    background-position: 534px -22px;
    height: 27px;
    width: 39px;
    display: inline-block;
    position: absolute;
    top: -17px;
    right: -3px;
}
.yc{
    background-position: 470px 8px;
    height: 29px;
    width: 17px;
    display: inline-block;
    position: absolute;
    top: -17px;
    right: 9px;
}
.dlzc{
    display:inline-block;
    width: 120px;
    line-height:40px;
    height: 40px;
    position: absolute;
    right: 100px;
    background-color: #003679;
    margin: 0 auto;
    text-align: center;

}
.dlzc a{
    color: #fff;
    font-family: Microsoft yahei ;
}
.sg{
    display: inline-block;
    height: 13px;
    border-left: 2px solid #fff;
    position:relative;
    top: 1px;
}
.dier{
    width: 1349px;
    height: 383px;
    background-image:url(../../img/18.jpg);
    background-position:-315px 0px;
    margin: 0 auto;
    position: relative;
}
.tukuang{
    width: 600px;
    height: 305px;
    background-color: #fff;
    position: relative;
    top: 40px;
    left: 76px;
}
.tukuang li a{
    font-family: "Microsoft yahei" ;
    font-size: 14px;
    color: #555;
    display: inline-block;
    width: 100px;
    height:60px;
    line-height:60px; 
    text-align: center;
    margin:0 auto;
    background-color:#f3f3f3;
  /*   margin-top: 10px; */

}
.tukuang li a.jj-1{
    background-color: #fff;

}
.tukuang li a.jj-4{
    border-right:1px solid  #E1E1E1;
    border-top:1px solid  #E1E1E1; 
    width: 100px;
    height: 122px;
}
.tukuang li a.jj-3{
    border-right:1px solid  #E1E1E1;
    border-top:1px solid  #E1E1E1; 
    width: 100px;
    height: 60px;
}.tukuang li a.jj-2{
    border-right:1px solid  #E1E1E1;
    border-top:1px solid  #E1E1E1; 
    width: 100px;
    height: 60px;
}
/* .tukuang li a .jj-2{
    font-family: "Microsoft yahei" ;
    font-size: 14px;
    color: #555;
    display: inline-block;
    width: 100px;
    height: 60px;
    line-height:60px; 
    text-align: center;
    margin:0 auto;
    border: 1px solid  #E1E1E1;
    background-color:#f3f3f3;
   margin-top: 10px;

}.tukuang li a .jj-5{
    font-family: "Microsoft yahei" ;
    font-size: 14px;
    color: #555;
    display: inline-block;
    width: 100px;
    height: 60px;
    line-height:60px; 
    text-align: center;
    margin:0 auto;
    border: 1px solid  #E1E1E1;
    background-color:#f3f3f3;
    border-bottom: none;
   margin-top: 10px;

}

.tukuang li a.jj{
    color:#37D;
}.tukuang li a.jj-1{
    background-color: #fff;
    border: none;
}
.tukuang li a:active{
    border-right:none;
    background-color: #fff;
} */
.jiudian {
    position: absolute;
    top: 24px;
    left: 148px;
    font-family: Microsoft Yahei;
    font-weight: bold;
    font-size: 14px;
    border-bottom: 2px solid #ccc;
    width: 412px;
    height: 30px;
    margin-left: -15px;
    padding-left: 16px;


}
.jiudian span a{
    color: #555;
}
/* .jiudian span a:{
    color:#37D;
} */
.guonei,.guoji{
    display: inline-block;
    width: 90px;
    height: 30px;
    margin:0px -9px 0px 4px; ;

}
.guonei/*  a:hover */{
    color:#37D;
    border-bottom: 2px solid #37D;
    display: inline-block;
    height: 30px;
    width: 70px;
    padding-left: 20px;
    margin-left:-20px;

}
.guoji a:hover{
    color:#37D;
    border-bottom: 2px solid #37D;
    display: inline-block;
    height: 30px;
    width: 70px;
    padding-left: 20px;
    margin-left:-20px;

}
/* a:hover  */.sanjiao-up{
    display: inline-block;
    background-image: url(../../img/19.png);
    background-position: 10px 5px;
    height: 10px;
    width: 10px;
    position: absolute;
    bottom: 0px;
    left: 38px
}
a:hover .sanjiao-down{
    display:inline-block;
    background-image: url(../../img/19.png);
    background-position: 10px 5px;
     height: 10px;
    width: 10px;
    position: absolute;
    bottom: 0px;
    left: 125px;

}
.jd{
    display: inline-block;
    background-image: url(../../img/19.png);
    background-position: 44px 114px;
    width: 17px;
    height: 16px;
    position: relative;
    top: 2px;
    left: -46px;
    margin-right: -18px;
}
.jp{
    display: inline-block;
    background-image: url(../../img/19.png);
    background-position: 17px 94px;
    width: 17px;
    height: 18px;
    position: relative;
    top: 2px;
    left: -46px;
    margin-right: -18px;
}
.cp{
    display: inline-block;
    background-image: url(../../img/19.png);
    background-position: 17px 74px;
    width: 17px;
    height: 17px;
    position: relative;
    top: -19px;
    left: -36px;
    margin-right: -18px;
}
.cp{
    display: inline-block;
    background-image: url(../../img/19.png);
    background-position: 17px 74px;
    width: 17px;
    height: 17px;
    position: relative;
    top: -19px;
    left: -36px;
    margin-right: -18px;
}
.sj{
    display: inline-block;
    background-image: url(../../img/19.png);
    background-position: 19px 142px;
    width: 17px;
    height: 18px;
    position: relative;
    top: -19px;
    left: -36px;
    margin-right: -18px;
}
.dq{
       width: 114px;
    height: 22px;
}
.qd{
 width: 114px;
 height: 22px;
}
.sousuo a{
    display: inline-block;
    width: 159px;
    height: 32px;
    line-height: 29px;
    position: relative;
    top: 25px;
    right: -46px;
    /* font-family: Microsoft Yahei; */
    background-color: #f55;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-size: 16px;
}
}

.sousuo a{
    color: #fff;
}
.ditu a{
    display: inline-block;
    height: 30px;
    line-height: 29px;
    width: 84px;
    /* background-color: #fff; */
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    text-align: center;
    position: relative;
    top: -6px;
    right: -226px;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    padding-left: 9px}

.ditu a b{
     font-size: 14px;
    font-family: "Microsoft Yahei";
    color: #555;
    font-weight: none;
}
.ditu a:hover{
    background-color:#37D; 
}
.xb{display: inline-block;
    background-image: url(../../img/15.png);
    background-position: 145px -3px;
    width: 14px;
    height: 19px;
    position: absolute;
    top: 5px;
    right: 72px;
}



.dybk{
    position: absolute;
    top: 53px;
    color:#333;
}
.mudi{
    width: 262px;
    height: 19px;
    line-height: 19px;
    margin-top: 3px;
    margin-left: 12px;
}
.rz{
    width: 90px;
    height: 19px;
    margin: 4px 0px 0px 8px;
}
.rztf{
    position: absolute;
    top: 103px;
    right: -20px

}
.tf{
    width: 90px;
    height: 19px;
    margin: 4px 0px 0px 8px;
}
.gjc{width: 262px;
    height: 19px;
    margin-left: 8px;
    margin-top: 3px;
    color: #ccc;
}
.guanjianci{
    position: absolute;
    top: 157px;
    right: 1px;}
.rt{
    display: inline-block;
    width:28px;
    height:28px;
    padding: 0px 6px 0px 5px;
     color:#555;
}

.big{

}
.kj{
    display: inline-block;
    width: 160px;
    height: 30px;
    border: 1px solid #ccc;
   /*  text-align: center; */
   line-height: 30px;
}
.rz,.zf input:focus{
    outline:none;
}
.rztf input{
    border:none;
}

.mudidi{
    display:inline-block;
    width: 43px;
    height: 20px;
    position: relative;
    left: -10px;
    color:#555;
}
.cgj{
    display:inline-block;
    width: 43px;
    height: 20px;
    position: relative;
    left: -7px;
    color:#555;
}
.dingwei{
    display: inline-block;
    position: relative;
    right: -40px;
    top: -25px;
}
.xiaoshi{
    width: 368px;
    height: 28px;
    line-height: 28px;
    border:1px solid #ccc;
    
}
.zuihou{
    display: inline-block;
    width: 365px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #ccc;
    padding-left: 4px;

}

.tukuang input:focus{
outline: none;
}
.tukuang input{
    border: none;

}
.mingtian{
    color: #ccc;
    position: relative;
    right: -3px;
}
.houtian{
    color: #ccc;
    position: relative;
    right: -3px;
}
.riqi{
    background-image: url(../../img/15.png);
    background-position: 120px -4px;
    display: inline-block;
    width: 18px;
    height: 16px;
    position: relative;
    top: 4px;
    right: -4px
}
.riqi-down{
    background-image: url(../../img/15.png);
    background-position: 120px -4px;
    display: inline-block;
    width: 18px;
    height: 16px;
    position: relative;
    top: -26px;
    right: -392px
}
.gong{
    position: absolute;
    right: 107px;
    width: 80px;
    height: 20px;
    line-height: 20px;
    bottom: 14px;
}
.cc{
    width: 1200px;
    height:1495px;
    margin: 0 auto;
}
.heng{
    display: inline-block;
    width: 29px;
    height: 19px;
    background-image: url(../../img/19.png);
   }
.qian{
     background-position: 94px 81px;
   }
.hou{
background-position: 94px 100px;
   }
.xin{
    width: 222px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-left: 142px;
    margin-top: 37px;
    font-family: "Microsoft Yahei";
    font-size: 14px;
    position: relative;
    left: -66px;
    top: -17px;}
.xin a{
    display: inline-block;
    width: 35px;
    height: 30px;
    margin-left: 23px;
    color:#37D;
    /* font-family:"Microsoft Yahei";
    font-size: 14px;
     */
}
.xin span{
    color: #555;
    margin-left: -4px;
}

.xin>.xintu{
    display: inline-block;
    width: 15px;
    height: 12px;
    background-image: url(../../img/19.png);
    background-position: -583px -16px;
    position: relative;
    left: 22px;
}
.fengjing{
    width: 1200px;
    height: 260px;
    /* margin-left: 113px; */
    /* margin-top: 45px; */
    margin: 0 auto;
    /* opacity: 0.5; */
    position: relative;
    right: -5px;
}
    
    /* opacity: 0.5; */

.fengjing a{
    display: inline-block;
    width: 168px;
    height: 260px;
    line-height:324px;
    border: 1px solid #ccc;
    margin-right: 0px;
    margin: 0px -4px ;
   opacity: 2;
    text-align:center;
    font-size: 27px;
    color: #fff;
    font-family: "Microsoft Yahei";
    background-color:#fff;
}
.fengjing a{
    border: none;
}
.fengjing a span{
    display: inline-block;
    height: 134px;
    line-height:26px;
    width: 20px;

}
.yi{
    background-image: url(../../img/yi.jpg);
    background-position: -118px 0px;
}
.er{
    background-image: url(../../img/er.jpg);
    background-position: -118px 0px;
}
.san{
    background-image: url(../../img/san.jpg);
    background-position: -118px 0px;
}
.si{
    background-image: url(../../img/si.jpg);
    background-position: -118px 0px;
}
.wu{
    background-image: url(../../img/wu.jpg);
    background-position: -118px 0px;
}
.liu{
    background-image: url(../../img/liu.jpg);
    background-position: -118px 0px;
}
.qi{
    background-image: url(../../img/qi.jpg);
    background-position: -118px 0px;
}
/* .fengjing a:hover{
    width: 400px;
    height: 260px;
    background-position: -0px 0px;
    opacity: 1;
} */
.mdzs{
    height: 29px;
    width: 1200px;
    border-bottom: 1px solid #f55;
    margin-top: 20px;
    /* margin-top: 23px; */
    margin-left: 137px;
    padding-bottom: 7px;
    font-size: 12px;
    color: #999;
    margin: 0 auto;
}
.zs{
    font-size: 24px;
    color:#f55;
    font-family: "Microsoft Yahei";
}
.fg{
    display: inline-block;
    padding-left: 17px;
}
.bage{
    width: 1200px;
    height: 30px;
    line-height: 30px;
    /* margin-left: 116px; */
    /* margin-top: 14px; */
    margin: 0 auto
}
.bage a{
    color: #555; 

}
.bage a{
    display: inline-block;
    width: 77px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    margin: 0px 10px;
    /* font-size: 15px; */
    font-family: "Microsoft Yahei";
    border: 1px solid transparent;
    margin-left: -9px;
}
.sm{
    display: inline-block;
    width: 27px;
    height: 23px;
    background-image: url(../../img/19.png);
    background-position: 22px -102px;
    position: relative;
    top: 5px;
}
 a:hover.qige{
    border: 1px solid #f55;
     width: 77px;
    height: 26px;
    line-height: 26px;   
    border-radius: 12px;
    color: #f55;
}
.gengduo{
    position: relative;
    right: -526px;
}
a.tq{
     border-radius: 12px;
     border: 1px solid #f55;
     background-color: #f55;
     color: #fff;
     font-size: 15px;
}
 .bage a.lg b{
    font-size: 16px;
}
.dakuang{
    width: 1200px;
    height: 219px;
    margin-left: 136px;
    margin-top: 12px;
    margin: 0 auto;
}
.dakuang span a{
    display:inline-block;
    width: 293px;
    height: 237px;
    border-bottom: 1px solid #ccc;
}
/* .huangshan{
    background-image: url(../../img/20.jpg);
    background-position: 0px -1px;
} */
.hs{
   /* display: inline-block; */
   /* position: relative;
   bottom: 0px;
   left:0px; */
    position: relative;
    top: -38px;
    left: 12px;
   color: #fff;
   font-size: 24px;
}
.ems{
    position: relative;
    top: -38px;
    left: 12px;
    color: #fff;
    font-size: 24px;
}
.wts{
    position: relative;
    top: -38px;
    left: 12px;
   color: #fff;
   font-size: 24px;
}
.ls{
    position: relative;
    top: -38px;
    left: 12px;
    color: #fff;
    font-size: 24px;
}
.huangshan{
    background-color:#F7F7F7;
}
.emeishan{
    background-color:#F7F7F7;
}
.wutaishan{
    background-color:#F7F7F7;
}
.lushan{
    background-color:#F7F7F7;
}
/* .hs ,.ems,.wts,.ls{} */
/* span a:hover i.charu{
   background-image: url(../../img/20.jpg);
   background-position: 0px -13px ;
   height: 189px;
}
span a:hover i.cha-ru{
   background-image: url(../../img/21.jpg);
   background-position: 0px -13px ;
   height: 189px;
}
span a:hover i.cha--ru{
   background-image: url(../../img/22.jpg);
   background-position: 0px -13px ;
   height: 189px;
}
span a:hover i.cr{
   background-image: url(../../img/23.jpg);
   background-position: 0px -13px ;
   height: 189px;
}
span a:hover {
    border-bottom: 1px solid #f55;
} */
.chunyi{
    display: inline-block;
    position: relative;
    bottom: -201px;
    left: -252px;
    font-size: 14px;
    color: #555;
/* width: 281px;
height: 45px;
line-height: 45px;
padding-left: 14px; */
}
.yangchun{
    display: inline-block;
    position: relative;
    bottom: -183px;
    left: -252px;
    font-size: 14px;
    color: #555;
}
.yingfu{
    display: inline-block;
    position: relative;
    bottom: -164px;
    left: -252px;
    font-size: 14px;
    color: #555;
}
.qingjin{
    display: inline-block;
    position: relative;
    bottom: 91px;
    right: -955px;
    font-size: 14px;
    color: #555;
}
.charu{
    display:inline-block;
    width: 293px;
    height: 189px;
    background-image: url(../../img/20.jpg);
    background-position: 0px 0px;
}
.cha-ru{
    display:inline-block;
    width: 293px;
    height: 189px;
    background-image: url(../../img/21.jpg);
    background-position: 0px 0px;
}
.cha--ru{
    display:inline-block;
    width: 293px;
    height: 189px;
    background-image: url(../../img/22.jpg);
    background-position: 0px 0px;
}
.cr{
    display:inline-block;
    width: 293px;
    height: 189px;
    background-image: url(../../img/23.jpg);
    background-position: 0px 0px;
}

.sifu ul li a{
    float: left; 
    margin-right: 8px;

}
.sifu{
    display: inline-block;
    width: 1204px;
    height: 190px;
}
.emeishan{
    position: relative;
    top: -18px;
}
.wutaishan{
    position: relative;
    top: -36px
}
.lushan{
    position: relative;
    top: -54px;
}
.cz{
    width: 1200px;
    height: 30px;
    line-height: 30px;
    position: relative;
    top: 42px;
    height: 30px;
    color: #37e;
    font: 24px/30px "Microsoft yahei";
    color: #49f;
   /*  font-weight: bold; */
    border-bottom: 2px solid #37e;
    padding-bottom: 3px;
    margin: 0 auto;
}
.cztjp{
    width: 1026px;
    height: 30px;
    margin-top: 61px;
    margin-left: 135px;
}
.cztjp ul li{
        float: left;
    }
 .cztjp ul li a{
    display: inline-block;
    width: 68px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font: 14px/22px "Microsoft yahei";
    color: #555;
    border:1px solid transparent;
    margin: 0 8px;


 }   
 .gengduo-er{
    position: relative;
    right: -494px;
     font: 14px/22px "Microsoft yahei";
} .gengduo-yi{
    position: relative;
    right: -511px;
     font: 14px/22px "Microsoft yahei";
}
a:hover.gengduo {
    color: #f66;
}
a:hover.gengduo-er {
    color: #f66;
}
a:hover.ty{
    border: 1px solid #49f;
    border-radius: 12px;
   /*  margin-bottom: 10px; */

}
.cztjp ul li a.bj{
    border: 1px solid #49f;
    border-radius: 12px;
    background-color: #49f;
    color: #fff;
    margin-left: 33px;
}
.cztjp ul li a.b-j{
    border: 1px solid #49f;
    border-radius: 12px;
    background-color: #49f;
    color: #fff;
    margin-left: -2px
}
a:hover.bj{
 cursor: pointer;
}
.cztjp ul li a.jipiao{
    width:81px;
    height: 24px;
    margin-left: -68px;
}.cztjp ul li a.ji-piao{
    width:81px;
    height: 24px;
    margin-left: -133px;
}
.feiji{
    display: inline-block;
    background-image: url(../../img/19.png);
    background-position: 26px 270px;
    width: 27px;
    height: 24px;
}
.fjjp{
    position:relative;
    top: -7px;
    font: 18px/26px "Microsoft yahei";
    color: #555;
}
.liuge{
    /* display: inline-block; */
    width: 1200px;
    height: 102px;
    margin-left: 133px;
  /*   margin-top: 7px; */
    margin: 0 auto;
}
.liu-ge{
    /* display: inline-block; */
    width: 1200px;
    height: 102px;
    margin-left: 133px;
  /*   margin-top: 7px; */
    margin: 0 auto;
}
.liuge a{
    display: inline-block;
    width: 199px;
    height: 100px;
    border: 1px solid #d8e8fe;
    margin-right: -9px;
    text-align: center;
    font: 14px "Microsoft yahei";
    color: #555;
   padding-right: -1px;
}.liu-ge a{
    display: inline-block;
    width: 199px;
    height: 100px;
    border: 1px solid #d8e8fe;
    margin-right: -9px;
    text-align: center;
    font: 14px "Microsoft yahei";
    color: #555;
   padding-right: -1px;
}
.datong{
    display: inline-block;
    width: 42px;
    height: 30px;
    position: relative;
    top: 9px;
    right: 0px;
    background-image: url(../../img/19.png);
    background-position: 38px -159px;
    margin: 0 17px;
}
.bjdt{
    display: inline-block;
    width: 200px;
    height: 40px;
    text-align: center;
    margin-top: 8px;
    font-size: 8px;
    color: #555;
}
.dazhe{
    display: inline-block;
    width: 32px;
    height: 19px;
    line-height: 19px;
    position: relative;
    top: 14px;
    border: 1px solid #090;
    padding: 0 0px;
    border-radius: 8px;
    background-color: #090;
    color: #fff;
    font-family: "Microsoft Yahei";
    font-family: normal;
    font-style: normal;
    font-size: 14px;
}
 .dazhe2{
    display: inline-block;
    width: 32px;
    height: 19px;
    line-height: 19px;
    position: relative;
    top: 14px;
    border: 1px solid #fff;
    padding: 0 0px;
    border-radius: 8px;
}
 
.sz{
    display: inline-block;
    width: 63px;
    height: 21px;
    font-size: 10px;
    margin-left: -47px;
    position: relative;
    left: -3px;
    top: 14px;
}
.s-z{
    display: inline-block;
    width: 63px;
    height: 21px;
    font-size: 10px;
    margin-left: -47px;
    position: relative;
    left: -3px;
    top: -3px;
}
.nima{
    display: inline-block;
    width: 31px;
    height: 17px;
    font-size: 10px;
    position: relative;
    top: 14px;
    right: -17px;
    color: #fc6622
}
.ni-ma{
    display: inline-block;
    width: 31px;
    height: 17px;
    font-size: 10px;
    position: relative;
    top: -3px;
    right: -17px;
    color: #fc6622
}
.liuge a:hover{
    border:1px solid #37c;
    z-index: 116;
    position: relative;
}

.xiamian{
    width: 1200px;
    height: 150px;
    margin-top: -29px;
    margin:0 auto;
}
.lyzn{
    width: 1200px;
    height: 30px;
    line-height: 30px;
    /* position: relative;
    top: -49px;
    height: 30px; */
    left: 135px;
    color: #37e;
    font: 24px/30px "Microsoft yahei";
    color:#77cc11;
    font-weight: bold;
    border-bottom: 2px solid #77cc11;
    padding-bottom: 3px;
}
.lvyouzhinan{
    height:274px;
    width: 1200px;
    /* margin-left: 132px; */
    margin-top: -41px;
    margin: 0 auto;
}
.si-duan{
    display: inline-block;
    margin-top:10px;
    width: 220px;
    height: 220px;
    position: relative;
   top: -31px;
    z-index: 11;
}
.big-font{
    width: 210px;
    height: 55px;
    line-height: 55px;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;

}
.big-fond{
    width: 210px;
    height: 55px;
    line-height: 55px;
    border-bottom: 1px solid #ccc;
    background-color:#77cc11;
     padding-left: 10px;
}
.big-font a{
    color:#555;
    font: 14px "Microsoft yahei"; 
}
.big-fond a{
    color:#fff;
    font: 14px "Microsoft yahei"; 
}
.sanjiao-1{
    display: inline-block;
    background-image: url(../../img/19.png);
    background-position: 53px 0px;
    width: 13px;
    height: 20px;
    position: relative;
    right: -65px;
    top: 5px
}
.lou{   
    display: inline-block;
    width: 380px;
    height: 224px;
    margin-top:10px;
    top: -12px;
    margin-left: -8px;
    position:relative;
   /* background-color: #F7F7F7; */
} 
.er-tu{
    display: inline-block;
    width: 290px;
    height: 215px;
    margin-top:10px;
    top: -18px;
    background-color: #F7F7F7;
    position: relative; 
    border:none;
}
.er-tu1{
    display: inline-block;
    width: 291px;
    height: 220px;
    margin-top:10px;
    top: -10px;
    background-color: #F7F7F7;
    position: relative; 
    border:none;
    border-bottom: 2px solid #ccc;

}
.er-tu a{
    font-size: 12px;
    color: #37e;
}
.er-tu img{
    margin-top: 7px;
    position: relative;
    top: -7px;
    height: 182px;
}
.lou img{
    margin-top: 7px;
    position: relative;
    top: 3px;
    width: 380px;
    height: 223px;
}
.er-tu a:hover{
    border-bottom: 2px solid  #89ca00;
    color: #f55;
}
/* .ai{
width: 1200px;
height: 235px;
line-height: 220px;
margin:0 auto;
} */
b{
    position: relative;
    top: 3px;
    right: -6px;
    font-size: 14px;
}

.si-biao{
    width: 1200px;
    height: 181px;
    margin: 0 auto;
    margin-top: 1px;
    background-color: #F7F7F7; 
}
.si-tubiao{
    display: inline-block;
    width: 226px;
    height: 80px;
  /*   line-height: 80px; */
    margin-left: 10px;
    text-align: right;
    padding-right: 33px;
}
.yuan{
    display: inline-block;
    width: 60px;
    height: 60px;
}
.si-fw{
    display: inline-block;
    width: 62px;
    height: 62px;
    background-image: url(../../img/19.png);
    background-position: -89px -3px;
    position: relative;
    top: 18px;
    right: 9px
}
.si-fw1{
    display: inline-block;
    width: 62px;
    height: 62px;
    background-image: url(../../img/19.png);
    background-position: -157px -3px;
    position: relative;
    top: 18px;
    right: 9px
}
.si-fw2{
    display: inline-block;
    width: 62px;
    height: 62px;
    background-image: url(../../img/19.png);
    background-position: -227px -3px;
    position: relative;
    top: 18px;
    right: 9px
}
.si-fw3{
    display: inline-block;
    width: 62px;
    height: 62px;
    background-image: url(../../img/19.png);
    background-position: -295px -4px;
    position: relative;
    top: 18px;
    right: 9px
}
.quanqiu{
    position: relative;
    top: -7px;
    font-size: 16px;
    font-family: "Microsoft Yahei";
    color:#131313;

}
.shang-ban{
    height: 100px;
    border-bottom: 1px solid #e5e5e5;
}
.xinfeng{
    display: inline-block;
    width: 90px;
    height: 80px;
    background-image: url(../../img/19.png);
    background-position: -404px -22px;
}
.qin{
    font: 16px/30px "Microsoft yahei";
    color: #71829d;
    padding: 0 5px;
    position: relative;
    top: -32px;
    right: -131px;
    color: #555;
}
input{
    color: #555;
    padding-top: 6px;
    margin-left: 3px;
    margin-top: 2px;
    border:none;
}
input:focus{
    outline: none;
}
.ding-wei{
    line-height: 51px;
    display: inline-block;
    position:relative;
    top: -33px;
    right: -131px;
}

.email{
    display: inline-block;
    width: 210px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #ccc;
    background-color: #fff;
}
.dingyue{
    width: 80px;
    height: 30px;
    line-height: 30px;
    background-color: #3377dd;
    color: #fff;
    border: none;
    position: relative;
    top: -1px;
    right: 8px;
}
.yilong{
    color: #3377dd;
    /* position: relative; */
    right: -439px;
    top: -28px;
    font-size: 14px;
    float: right;
    margin-top: 32px;
}
}
.zui-xia{
     width: 1349px;
    height: 370px;
    border-top: 1px solid #ccc;
    margin: 0 auto;
    position: relative;
    left: -75px;
    top: 23px;
}
.tt-1 span.diyi-zi{
    float: left;
    display:inline-block;
    width: 240px;
    height: 150px;
    position: relative;
    top: 24px;
    right: 35px;
    display: inline-block;
    text-align: center;
    margin-top: -29px;
}
.tt-1 b{
    font: 18px "Microsoft Yahei";
    color:#131313;
    border-left: 3px solid #5D96C7; 
    margin-left: -7px;
    padding-left: 8px;
    margin-left: -18px;
    height: 18px;
    line-height:18px;
    display: inline-block;
}
.tt-1 span li{
    margin: 8px 0px ;
}
.jmgy{
    color:#333;
    font:12px "Microsoft Yahei";
}
.tt-1 a:hover{
    color:#f55;
}
.sao-ma{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-position: 103px 0px;
    background-image: url(../../img/17.png);
    position: absolute;
    top: 45px;
    right: 71px;
}
.saoma{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-position: 103px -105px;
    background-image: url(../../img/17.png);
    position: absolute;
    top: 45px;
    right: 71px;
}
.tt-1 span.hig{
    position: relative;
    top:17px;
}
.wancheng{
    width: 1200px;
    height: 30px;
    line-height: 30px;
    top: 213px;
    text-align: center;
    font-size: 12px;
    font-family: arial;
    color: #131313;
    margin:0 auto;
}
.wancheng a{
     font-size: 12px;
    font-family: arial;
    color: #131313;
}
.yi-wan{
    width: 1200px;
    height: 40px;
    line-height: 40px;
    bottom: 0px;
    text-align: center;
    margin:0 auto;
    background-color:#7c8fa2 ;
    /* border: 1px solid #7c8fa2; */

}
.yi-wan a{
    display: inline-block;
    width: 166px;
    height: 40.4px;
    line-height: 40px;
    color:#fff;
    font-size: 12px;
    position: relative;
    top: -2px;
    border: none;

}
.yi-wan a.nnn{
    background-color: #C0D2E4;
    color:#000;
}.yi-wan a:hover.nnn{
    background-color: #7c8fa2;
    color:#000;
}
.yi-wan a:hover{
    background-color: #8da1b5;
    color:#fff;
    display: inline-block;
    width: 166px;
    height: 40px;
    line-height: 40px;
    color:#fff;
    font-size: 12px;
    position: relative;
    top: -1px;
}
.si-hong{
    width: 1200px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
}
.diyi-tu{
   display: inline-block;
    width: 96px;
    height: 40px;
    background-position: 649px -483px;
    background-image: url(../../img/14.png);
    margin-left: 359px;
    margin-top: 22px;

}
.diyi-tu1{
    display: inline-block;
    width: 89px;
    height: 40px;
    background-position: 483px -435px;
    background-image: url(../../img/14.png);

}
.diyi-tu2{
    display: inline-block;
    width: 93px;
    height: 40px;
    background-position: 396px -435px;
    background-image: url(../../img/14.png);

}
.diyi-tu3{
    display: inline-block;
    width: 90px;
    height: 40px;
    background-position: 396px -435px;
    background-image: url(../../img/14.png);

}
.tt{
    width: 100%;
    height: 283px;
    padding: 20px 0;
    border-top: 1px solid red;
    min-width: 1000px;
    margin-top: 20px;
}
.tt-1{
    width: 1000px;
    height: 172px;
    margin:0 auto;
    position: relative;
}
.tt-2{
    width:100%;
    height: 40px;
     background-color:#7c8fa2 ;
}
.gg-0{
    margin-left:56px;
}