*{
    margin: 0;
    padding: 0;
}
body{
    height:100%;
    background-color: #eff0f0;
}
.diyi-one{
    width: 1190px;
    height: 27px;
    line-height: 27px;
/*    border: 1px solid #ccc;*/
    margin:0 auto;
    background-color: #fff;
}
.diyi-one1{
    min-width: 180px;
    height: 27px;
    line-height: 27px;
    float: left;
}
.shouye{
    display:inline-block;
    /* min-width: 60px;
    height: 27px;
    line-height: 27px;  */
    margin-right: 10px;
}
.diyi-one,.diyi-one a{
    font:12px/1.5 "微软雅黑"  ;
    text-decoration: none;
    font-family: "SimSun";
    color: #8e9999;
    height: 27px;
    line-height: 27px;
}
.quanzhan{
    min-width: 97px;
    height: 27px;
    line-height: 27px;
    float: right;
    text-align: center;
}
.daohang{
    display: inline-block;
    min-width: 48px;
    height: 27px;
    line-height: 27px;
    text-align: center;
}
.tu-biao1{
    display: inline-block;
    min-width: 12px;
    height: 15px;
    background-image: url(../../img/35.png);
    background-position: 11px 0px;
    margin-top: 5px;
    float: left;
    margin-left: 10px;
    background-color: #fff;
}
.tu-biao2{
    display: inline-block;
    min-width: 9px;
    height: 8px;
    background-image: url(../../img/10.gif);
    background-position: -409px -146px;
}
.clear{
    clear:both;
}
.quanzhan:hover{
    background-color:#eff0f0;
    color: #8e9999;
    cursor: pointer;
    background-position: 11px -36px;
}
.quanzhan:hover .tu-biao1{
      background-position: 11px -36px;
}
.cc{
    width: 100%;
    height: 27px;
    background-color: #fff;
    border-bottom: 1px  solid #ccc;

}
.diyi-two{
    min-width: 275px;
    height: 27px;
    line-height: 27px;
    float: right;
}
.diyi-two ul li{
    list-style: none;
    float: left;
}
.diyi-two ul li a{
    font:12px/1.5 "微软雅黑"  ;
    text-decoration: none;
    font-family: "SimSun";
    color: #8e9999;
}
.tu-biao{
    display: inline-block;
    min-width: 30px;
    height: 27px;
}
.diyi-two ul li .yijian{
    display: inline-block;
    min-width: 90px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    font-size: 12px;
    color: #8e9999;
    font-family: "SimSun";
    background-color:#eff0f0;
}
.diyi-two ul li a:hover{
    color: #444； 
}
.gg{
    background-image: url(../../img/35.png);
    background-position: 20px -283px;
}
a:hover.gg{
    background-image: url(../../img/35.png);
    background-position: 20px -317px;
}
.gg-1{
    background-image: url(../../img/35.png);
    background-position: 20px -214px;
}
a:hover.gg-1{
    background-image: url(../../img/35.png);
    background-position: 20px -248px;
}
.gg-2{
    display: inline-block;
    min-width: 10px;
    height: 14px;
    background-image: url(../../img/35.png);
    background-position: 10px -72px;
    margin-top: 6px;
    margin-left: 6px;
}

a:hover .gg-2{
    background-position: 10px -186px;
}
.san-jiao{
   display: inline-block;
    min-width: 13px;
    height: 14px;
    background-image: url(../../img/10.gif);
    background-position: -409px -143px;
}
a:hover .san-jiao{
    background-position: -746px -144px;
}
.diyi-two ul li .liulanqi{
    display: inline-block;
    min-width: 56px;
    height: 27px;
    line-height: 27px;
    color:#0aa770;
    padding: 0 10px;
}
a:hover.liulanqi{
    text-decoration: underline;
}
.gx{
    display: inline-block;
    min-width: 12px;
    height: 12px;
    background-image: url(../../img/35.png);
    background-position:12px -356px;
    margin-right: 4px;
    position: relative;
    top: 3px;
}
a:hover .gx{
     background-position:12px -388px;
}
.cc-1{
    min-width:100%;
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #3cb43c;
}
.dier{
    width: 1190px;
    height: 60px;
    margin: 0 auto;
}
.dier-tu{
    min-width: 169px;
    height: 59px;
    float: left;
}
.dier-tu a{
    display: inline-block;
    min-width: 160px;
    height: 59px;
}
.tu-1{
    min-width: 156px;
    height: 45px;
    background-image: url(../img.hdj/1.png);
    margin-top: 8px
}
.dier-ul{
    width: 613px;
    height: 59px;
    float: left;
}
.dier-ul1{
    background-color: #3CB43C;
}
.dier-ul a{
    list-style: none;
    float: left;
}
.dier-ul a:hover{
    color:  #3CB43C;
}
a{
    text-decoration: none;
}
.dier-ul a{
    display: inline-block;
    padding:0 20px;
    font:14px/1.5  "Microsoft Yahei";
    color: #444;
    height: 60px;
    line-height: 60px;
}
  a:hover.dier-ul1, a.dier-ul1{
        color: #fff;
}
.shouye1{
    background-color: #3cb43c;
}
.wode{
   min-width: 122px;
   height: 35px;
   float: right;
   border: 1px solid #ccc;
   margin-top: 12px
}
.wode a{
   display: inline-block;
   min-width: 122px;
   height: 35px;
   line-height: 35px;
   color: #444;
   font-size:12px ;
   text-indent: 35px;
   background: #f9f9f9;
}
.wode a:hover{
    background-color: #fff;
}
.fk{
    display: inline-block;
    width: 15px;
    height: 12px;
    background-image: url(../img.hdj/2f.png);
    background-position: 15px 0px;
    margin-left: -18px;
    margin-right: 16px;
    position: relative;
    top: 2px;
}
.disan{
    max-width:1920px;
    height: 345px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 345px;
    font: 12px/1.5"Microsoft Yahei";
    z-index: 1000;
    background-color: #eff0f0;
    white-space: nowrap;
}
.disan a.da-tu{
    display: block;
    width: 100%;
    height: 345px;
    background-image:url(../img.hdj/11.jpg);
    background-position:center;
    position: absolute;
    z-index: 9;
}
.disan-kj{
    width: 1190px;
    height: 305px;
    margin: 0 auto;
    position: relative;
    top:15px;
    z-index: 11;
}
.disan-kj1{
    width:674px;
    height: 305px;
    background-color: #fff;
    border: 1px solid #ccc;
} 
.disan-kj ul li{
    list-style: none;

}
.disan-kj ul.btn-1{
    position: absolute;
    bottom:3px;
    right: 5px;
}
 a.btn{
    margin-left: 10px;
    display: inline-block;
    width: 110px;
    height: 33.9px;
    line-height: 33.9px;
    text-align: center;
    background-color: #fff;
    opacity:0.7;
    color: #222;
}
.disan-kj ul.btn-1 li {
    float: left;
}
.shu-ul{
    width: 124px;
    height: 305px;
    float: left;
}
.shu-ul ul li a{
    display: inline-block;
    width: 124px;
    height: 50px;
    line-height: 50px;
    background-color: #464f5e;
    text-align: center;
    font-size: 15px;
    font-family: 'Microsoft YaHei',arial;
    color: #fff;
    float: left;
    overflow-y: hidden;
    border-bottom: 1px solid #345;
}   
.disan-kj ul li a.btn-ys{
    background-color:#464f5e;
    color: #fff;
}
 .shu-ul ul li a.dianying{
    background-color: #fff;
    color: #3cb43c;
}
.shu-right{
    min-width: 546px;
    height: 305px;
    float: right;
    position:relative;
}
.shu-right1{
    width: 506px;
    height: 272px;
    margin:17.5px auto;
}
.dianying-tu{
    width: 506px;
    position: relative;
    height: 170px;
}
.dyh-m,.dyh-m1{
    display: inline-block;
    width: 24px;
    height: 60px;
    line-height: 60px;
    position: absolute;
    top: 51px;
    border:1px solid #ccc;
    text-align: center;
}
.dyh-m1{
    right: 0px;
}
.dyh-1,.dyh-2{
    display: inline-block;
    width: 9px;
    height: 17px;
    background-image: url(../img.hdj/d1.png);
}
.dyh-1{
    background-position:40px -40px;

}
.dyh-2{
     background-position:40px -77px;
}
.dianying-1{
    width: 450px;
    height: 170px;
    margin:0 auto;
}
.dianying-1 ul li a{
    display: inline-block;
    width: 130px;
    height: 170px;
    margin:0px 10px;
}
.dianying-1 ul li a img{
    position: absolute;
}
.dianying-1 ul li{
    float: right;
}
.biao-ti{
    display: inline-block;
    width: 133px;
    height: 50px;
    position: absolute;
    color: #fff;
    bottom: 0px;
    background-image: linear-gradient(rgba(225,225,225,0),rgba(0,0,0,.8));}
.biao-ti1{
    width: 90px;
    height: 18px;
    overflow: hidden;
    float: left;
    position: absolute;
    bottom: 0px;
}
.pf{
    width: 18px;
    height: 18px;
    float: right;
    position: absolute;
    bottom: 0px;
    right: 0;
}
.shuright-down{
    width: 506px;
    height: 82px;
    margin-top:20px;
}
.text3{
    width: 512px;
    height: 33px;
    color: #222;

}
.beijing{
    width: 72px;
    height: 30px;
    margin-right: 7px;
    border:1px solid #ccc;
    cursor: pointer;
    position: relative;
}
.yingyuan{
    width: 202px;
    height: 30px;
    margin-right: 7px;
    border:1px solid #ccc;
    cursor: pointer;
    position: relative;
}
.yingpian{
    width: 212px;
    height: 30px;
    border:1px solid #ccc;
    cursor: pointer;
    position: relative;
}
.equal{
    float: left;
}
.bj{
    display: inline-block;
    width: 50px;
    height: 28px;
    line-height: 28px;
    text-indent: 7px;
}
.xyy{
    display: inline-block;
    width: 140px;
    height: 28px;
    line-height: 28px;
    text-indent: 7px;
}
.xyp{
    display: inline-block;
    width: 155px;
    height: 28px;
    line-height: 28px;
    text-indent: 7px;
}
.qc{
    display: inline-block;
    width: 24px;
    height: 28px;
    line-height: 28px;
    display: none;
    color: #0aa770;
    right: 28px;
    top: 0;
    cursor: pointer;
    position: absolute;
}
.dao-sj{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../img.hdj/d1.png);
    background-position: -14px 1px;
    position: absolute;
    right: 5px;
    top: 4px
}
.dingpiao{
    width: 506px;
    height: 32px;
    padding-top: 20px;
    position: relative;
}
.dp{
    width: 80px;
    height: 32px;
    line-height: 32px;
    position: absolute;
    right:0;
    background-color: #ff6d00;
    border: none;
    color: #fff;
    font: 12px/1.5"Microsoft Yahei";
    cursor: pointer
}
.disi-zd{
    width: 1190px;
    height: 2378px;
    margin: 20px auto 0;
}
.disi-zd-left{
    width: 915px;
    height:2000px;
    background-color:#ccc;
    float: left;

}
.disi-zd-right{
    width: 265px;
    height:1000px;
    background-color: #ccc;
   /*  border:1px solid #ccc; */
    float: right;
}
.disi-one{
    width: 915px;
    height: 218px;
    background-color: #fff;
    overflow: hidden;
}
.disi-one1{
    width: 895px;
    height: 193px;
    /* background-color: red; */
   padding: 15px 10px 10px;
    margin:0 auto;
}
.disi-one1-left{
    width: 573px;
    height: 193px;
    padding-right: 15px;
    float: left;
    border-right:1px solid #ccc;
}
.disi-one1-right{
    width: 292px;
    height: 193px;
    padding-left: 13px;
    float:right;
    margin-right: -20px
}
.jr{
    width: 573px;
    height: 18px;
    line-height: 18px;
}
.guanzhu{
    font-family: normal;
    font-size: 18px;
    color: #000;
    font:18px/1.5 Arial,"Microsoft Yahei";
    float: left;
}
.gz{
    color: #3cb43c;
}
.j-k{
    color: #3cb43c;
}
.jk{
    width: 261px;
    height: 18px;
}
.ys{
    font-family: normal;
    font-size: 18px;
    font:18px/1.5 Arial,"Microsoft Yahei";
    float: left;
}
.tiaowen{
    display: inline-block;
    background-image: url(../img.hdj/5e.png);
    background-position: 0px 0px;
}
.tiao-wen1{
    width: 475px;
    height: 14px;
    margin: 6px 0px 0px 20px;
}
.tiao-wen2{
    width: 156px;
    height: 14px;
    margin: 6px 0px 0px 20px;
}
.jr-down{
    width: 300px;
    height: 165px;
    margin-right: 15px;
    cursor: pointer;
    margin-top: 9px; 
    position:absolute
}
.jr-down img{
    position:absolute
}
.gfz{
    width: 300px;
    line-height: 40px;
    height: 40px;
    background-image: url(../img.hdj/8d.png);
    background-position: 0px 0px;
    position: absolute;
    bottom: 0;
}
.gfz-hig{
    display: inline-block;
    width: 300px;
    line-height: 40px;
    height: 40px;
    color: #fff;
    text-indent: 10px;
    line-height: 56px;
    font-size: 12px;
}
.equal-a{
    display: inline-block;
    width: 22px;
    height: 44px;
}
.one-1{
    background-image: url(../img.hdj/1h.png);
    position: absolute;
    top:60.5px;
}
.one-2{
    background-image: url(../img.hdj/2h.png);
    position: absolute;
    top:60.5px;
    right: 0;
}
.jr-right{
    width: 253px;
    height: 165px;
    float:right;
     margin-top: 9px; 
}
ul li{
    list-style: none;
}
ul li a.tinao{
    vertical-align: middle;
    color: #000;
    font-weight: bolder;
    font-size: 16px; 
    display: inline-block;
    margin-bottom: 8px;
}
.jr-right ul li a{
    color: #444;
    font-size: 14px;
}
.jr-right ul li a:hover{
    color:#3cb43c;
}
.jr-right ul li a.equal-la{
    display:block;
    width: 252px;
    height: 14px;
    margin:12px 0px 0px 0px;
}
.jr-right ul li a.equal-la1{
    display: inline-block;
    min-width: 231px;
    height: 14px;
    color: #f30a0a;
}
.jr-right ul li a:hover.equal-la1{
    color: #f30a0a;
    text-decoration:underline;
}
.ctt{
    float: left;
    margin-top: -5px;
}
.disi-zd-left-xia{
    width: 915px;
    height: 154px;
    background-color: #fff;
    margin-top: 10px;
}
.xia-1{
    width: 895px;
    height: 130px;
    padding:15px 10px 9px;
}
h3{
    width: 895px;
    height: 14px;
    font-size: 18px;
    color: #444;
    font-weight: normal;
    font:18px Arial,"Microsoft Yahei";
}
h3 span{
    color: #00a86e;
}
.dd{
    display: inline-block;
    width: 795px;
    height: 14px;
    background-image: url(../img.hdj/5e.png);
    background-position: 0px 1px;
    position: relative;
    right:-18px;
}
.xia-2{
    width: 895px;
    height: 101px;
    background:#f7f7f7;
    margin-top:15px;
    overflow: hidden;
}
.xia-2 ul li{
    width: 178px;
    height: 101px;
    float: left;
    border-left: 1px dotted #ccc;
 /*    position: relative; */
}
.xia-2 ul li.li-1{
    border-left:none;
}
.yuan-tu{
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 20px 11px;
}
.xia-2 ul li .san-ge{
 /*    display:inline-block; */
    min-width: 109px;
    height: 75px;
    float: right;
    margin: -91px 5px 10px 10px;
    position:relative;
    right: -7px;
}
.san-ge a{
    display: block;
}
.san-ge a.bd{
    color: #444;
    font-weight: bold;
    /* font: 12px/1.5 Arial,"Microsoft Yahei"; */
    font-size: 14px;
    position: relative;
    top:10px;
}
.san-ge a.mf{
    color:#ff4400;
    font-weight: bold;
    font-size: 14px;
     position: relative;
     top:10px;
}
.san-ge a .yyang{
     font: 12px/1.5 Arial,"Microsoft Yahei";
     color: #999;
     position: relative;
     top:10px;
}
.san-ge a.yyang1{
    font: 12px/1.5 Arial,"Microsoft Yahei";
    color: #444;
    position: relative;
    top:26px;
}
.san-ge a:hover.bd,.san-ge a:hover.yyang1{
    color: #3cb43c;
}
.daijinjuan{
    width: 265px;
    height: 520px;
     background-color: #fff;
}
.youhui{
    width: 245px;
    height: 55px;
}
.tu-daqi{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../img.hdj/71.png) no-repeat;
    background-position: left center;
    width: 245px;
    height: 55px;
    display: block;
    font-size: 18px;
    border: 0;
    text-indent: 40px;
    height: 54px;
    line-height: 54px;
    margin: 0 10px;
    padding: 0;
    border-bottom: 1px solid #e5e5e5;
}
.yizhou{
    display: inline-block;
    width: 120px;
    height: 30px;
}
.shi-li{
    width: 265px;
    height: 448px;
    overflow: hidden;
}
.shi-wz{
    color: #444;
    font-size: 14px;
    font: 14px/1.5 "Simsun",Arial,"STHeiti,Simhei","Microsoft Yahei";
}
.shi-shuzi{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #ccc;
    color: #fff;
    text-align: center;
    margin-right: 10px;
}
.shi-a{
    display:inline-block;
    width: 245px;
    height: 22px;
    line-height: 22px;
    margin-top: 10px;
    margin-left: 10px;
}
.shi-li a:hover .shi-shuzi{
    background-color: #ff6d00;
}
.f{
    background-color: #3cb43c;
}
.shi-li li:hover .yhj-tu {
    display: block;
    width: 245px;
    height: 109px;
}
.shi-li li :visited.shi-a1 .yhj-tu {
    display: block;
    width: 245px;
    height: 109px;
}
.shi-li li:hover .hanzi{
    display: block;
}
.hanzi{
    width: 225px;
    height: 12px;
    margin-top:10px;
    margin:0 10px;
    display: none;
    background: #f7f7f7;
    color: #999;
    font: 12px/1.5 "Simsun",Arial,"STHeiti","Simhei","Microsoft Yahei";
}
.yhj-tu{
    display: none;
}
.shenghuo{
    width: 265px;
    height: 452px;
    background-color: #fff;
    margin-top:10px;
}
.shxxr{
    width: 245px;
    height: 54px;
    background: url(../img.hdj/3f.png) 10px center no-repeat;
    font-size: 18px;
    border: 0;
    text-indent: 40px;
    height: 54px;
    line-height: 54px;
    padding: 0;
    border-bottom: 1px solid #e5e5e5;

}
.xr{
    width: 245px;
    height: 54px;
    line-height: 54px;
    margin-left: 10px;
}
.kuai{
    display: block;
    width: 263px;
    height: 214px;
}
.k-1{
    width: 265px;
    height: 120px;
    line-height: 50px;
    background: url(../img.hdj/7a.jpg) 20px center no-repeat;
}
.xin{
    display: inline-block;
    width: 20px;
    height: 18px;
    background: url(../img.hdj/xin.png) 33px -47px ;
}
.k-1 span{
   display: inline-block;
   margin-left: 75px;
   position: relative;
   top: 10px;
   color:#444;
  }
  .fen{
    text-indent: -4px;
  }
  .yz{
    font-size: 16px;
    color: #444;
  }
 a:hover .fen{
    color: #f40;
  }
  .zz{
    width: 225px;
    height: 21px;
    line-height: 21px;
    font-size: 14px;
    color: #999;
    padding: 0 20px;
    margin:0 auto;
    text-indent: 0px;
  }
  .sb{
    width: 225px;
    height: 58px;
    line-height: 24px;
    font-size: 14px;
    color: #999;
    padding: 0 20px;
    margin:0 auto;
    margin-top: 15px;
    padding-bottom: 17px;
    text-indent: 0px;
  }
.d{
    width: 265px;
    height: 500px;
    border: 1px solid #ccc;
}
.kuai-2{
    display: block;
    width: 265px;
    height: 91px;
    position: relative;
    border-top: 1px dotted #ccc;
}
.kuai-2 img{
    margin: 21px 0px 0px -19px;
}
.kuai-2:hover .a-37 {
    color:  #f40;
}
.a-37{
    width: 72px;
    height: 20px;
    line-height: 20px;
    left: 90px;
    top: 15px;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    text-indent: 0px;
    margin-top: 6px;
}
.jy{
    width: 165px;
    height: 32px;
    line-height: 28px;
    left: 90px;
    top: 40px;
    right: 10px;
    line-height: 14px;
    color: #999;
    position:absolute;
    font: 12px/1.5 "Simsun",Arial,"STHeiti","Simhei","Microsoft Yahei";
    text-indent: 0px;
    margin-top: 10px;
    margin-top: 4px;
}
.tu-d{
    margin-top:10px;
}
.gd{
    width: 265px;
    height: 400px;
    border: 1px solid #ccc;
    background-color: #f7f7f7
}
.xr{
    width: 245px;
    height: 53px;
    line-height: 53px;
    margin:0 auto;
    background: url(../img.hdj/be.png) 12px center no-repeat;
}
.xr{
    font-size: 18px;
    border: 0;
    text-indent: 50px;
    line-height: 54px;

}
.fk-li{
    position: relative;
    display: block;
    width: 245px;
    height: 246px;
    margin: 0 auto;
    color:#444;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 15px;
    text-align: center;
    background: url(../img.hdj/35c.jpg)center center no-repeat #eff0f0;
}
a:hover .wz-sz{
    color: #3cb43c;
    font-size: 14px;
    line-height: 28px;
}
.wz-sz{
    display: inline-block;
    width: 225px;
    height: 28px;
    line-height: 28px;
    margin-top: 18px;
}
.bn{
    padding: 0 10px;
    font-size: 12px;
    color: #444;
    line-height: 24px;
    position: absolute;
    bottom:10px;
    left: 5px;
}
.shou{
    position:relative;
     font: 12px/1.5 "Simsun",Arial,"STHeiti","Simhei","Microsoft Yahei";
    margin: 40px auto;
    width: 225px;
    height: 22px;
    line-height: 22px;
    background: url(../img.hdj/4bd.png)left center no-repeat ;
    text-indent: 93px;
}
.shou a{
    color:#444;
    position: absolute;
    left: -71px;
}
.shou a:hover{
    color: #3cb43c;
}
.shou span{
    position: absolute;
    right:0;
}
.xia-3{
    width: 915px;
    height: 232px;
    background-color:#fff;
    margin-top:10px;
    margin-bottom:10px;
    position: relative;
}
.xia-3one{
    height: 203px;
    width: 438px;
    padding:15px 10px;
    border-right: 1px dotted #ccc;
    float: left;
}
.meishi{
    width: 436px;
    height: 27px;
    font-size: 18px;
    font-family: "yahei";
    display: block;
    padding-bottom: 10px;
    line-height: 18px;
    color: #444;
}
.er-tu{
    display: block;
    width: 436px;
    height: 79px;
    background: #f7f7f7;
    overflow: hidden;
    padding:0 5px;
    position: relative;
}
.er-tu1{
    width: 218px;
    height: 79px;
}
a:hover.er-tu1 .dangao{
    color:#f30a0a;
}
.tu-one{
    float: left;
}
.tu-two{
    float:right;
    position: relative;
}
.er-tu img{
     position: relative;
     top: 20px;
     left: 10px;
}
.dangao{
    font-size: 14px;
    color: #444;
    position: absolute;
    left: 80px;
    top:20px;
}
.ai{
    bottom: 20px;
    font-size: 12px;
    color: #999;
    display: block;
    left: 80px;
    position: absolute;
}
.san-may{
    width: 260px;
    height: 96px;
    line-height: 30px;
    float: left;
}
.san-may span, .san-mayr span{
   font-weight:700;
   font-size: 14px;
   color: #444;
}
.san-may a, .san-mayr a{
    margin-left: 8px;
    color: #444;
    font-size: 14px;
}
.san-may a:hover, .san-mayr a:hover{
    color:#3cb43c;
}
.san-may a.pindou{
    color: #ff4400;
}
.san-may a:hover.pindou{
    color:  #ff4400;
    text-decoration: underline;
}
.san-mayr{
    width: 174px;
    height: 96px;
    line-height: 30px;
    float: right;
}
.xia-3two{
    height: 203px;
    width: 435px;
    padding:15px 10px;
    position: absolute;
    top:0;
    right: 0;
}
.zuiduo-tu{
    width: 915px;
    height:1488px;
    margin: 0 auto;
    background-color: #fff;
    text-indent: 8px;
}
.zdt-one{
    width: 915px;
    height: 51px;
    border-bottom: 1px dotted #ccc;
}
.gyh{
    margin-right: 15px;
    font: 18px "yahei";
    color: #444;
    margin-left: 16px;
    position: relative;
    top: 28%;
}
.bjs{
    display: inline-block;
    padding: 5px 9px 5px 0px;
    border: 1px solid #ccc;
    font-size: 14px;
    vertical-align: middle;
    position: relative;
    top: 28%;
    color:#444;
}
.bjs:hover{
    color: #3cb43c;
}
.t{
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: #444 transparent transparent;
    position: relative;
    top: 2px;
    right:-2px;
}
.zdt-oneright{
    float: right;
    margin-left: 2px;
    position: relative;
    right: 15px;
}
.zdt-oneright ul li a{
    display: inline-block;
    width: 48px;
    height: 40px;
    line-height: 40px;
    color: #444;
}
.zdt-oneright ul li{
    margin-left: -10px;
}

.zdt-oneright ul li a:hover{
     color:#ff4400;
}
.active{
    border-bottom:2px solid #00a86e;
}
.zdt-oneright ul li{
    float: left;
}
.da-tu-zuida{
    width: 899px;
    height: 1310px;
}
.da-tu-zuida a{
    display: inline-block;
    width: 285px;
    height: 297px;
   /*  border:1px solid #ccc; */
    float:left;
    padding: 15px 5px;
    margin: 0 2px;
    color: #444;
}
.jieshi{
    margin-top: 15px;
    color: #444;
    vertical-align: baseline;
    overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.shuoming{
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    margin: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    overflow: ellipsis;
    color: #444;
}
.jiazhi{
   text-decoration: line-through; 
    margin-left: 10px;
    color: #999;
    font-size: 12px;
}
.jiage{
    font-family: arial,helvetica,sans-serif;
    margin-bottom: 10px;
    height: 24px;
    line-height: 24px;
    font-size: 24px;
    color: #f40
}
.dafeng{
    color: #999;
    font-size: 12px;
    position:relative;
    bottom: -12px;
}
.da-feng{
    color: #999;
    font-size: 12px;
    position:relative;
    bottom: -12px;
    right:-170px;
}
.shuoming-1{
        cursor: default;
}
.df-shuzi{
        color: red;
    font-weight: 400;
}
.chakan{
     margin: 50px 15px 15px;
    background: #f7f7f7;
    border: 1px solid #ccc;
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    padding: 10px 0;
    color: #00a86e;
}
.zuihou-kaui{
    width: 100%;
    height: 264px;
    background-color: #fff;
}
.zuihou-one{
    width: 1190px;
    height: 203px;
    margin:0 auto;
}
.zuihou-one li{
    line-height: 28px;
}
.zh-left{
    width: 593px;
    height: 202px;
    border-right: 1px dotted #ccc;
    background:url(../img.hdj/12c.png)12px center no-repeat;
    position: relative;
    float: left;
}
.zh-left a{
    color: #444;
    font-size: 14px;
    font:12px/1.5 "STHeiti","Microsoft Yahei",Arial,"Simhei,Simsun",helvetica,"sans-seri";
}
.zh-left ul{
    position: absolute;
    top: 6px;
    right: 146px;
}
.zwk{
    font: 18px "微软雅黑";
    color: #444;
    line-height: 18px;
    margin-top: 25px;
}
.zh-right{
    width: 593px;
    height: 202px;
    background:url(../img.hdj/13c.png)140px center no-repeat;
    position: relative;
    float: right;
}
.zixun{
    display: inline-block;
    width: 130px;
    padding:5px 0;
    border: 2px solid #00a86e;
    color: #00a86e;
    margin-left:340px; 
    font-size: 14px;
    font:12px/1.5 "STHeiti","Microsoft Yahei",Arial,"Simhei,Simsun",helvetica,"sans-seri";
    text-align: center;
    margin-top: 30px;
}
a:hover.zixun{
    background-color: #00a86e;
    color: #fff;
}
.ww{
    color: #999;
    font-size: 14px;
    font:14px/1.5 "STHeiti","Microsoft Yahei",Arial,"Simhei,Simsun",helvetica,"sans-seri";
    position: absolute;
    top: 96px;
    right: 142px;
}
.w-w{
    color: #999;
    font-size: 14px;
    font:14px/1.5 "STHeiti","Microsoft Yahei",Arial,"Simhei,Simsun",helvetica,"sans-seri";
    position: absolute;
    top: 126px;
    right: 128px;
}
.hei{
    width: 100%;
    height: 61px;
    background-color: #333333;
    border-top: 1px solid #eee;
    overflow: hidden;
}
.hei-1{
    width: 1190px;
    height: 61px;
    margin:0 auto;
}
.hei-1 a{
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-size: 12px;
    font-family: "Simsun";
    cursor: pointer;
    color:#868688;
    padding:0 15px;
}
.hei-1 ul li{
    float: left;
}
.hei-1 a:hover{
    color: #f50;
}
.diyi-ul{
    float: left;
}
.dier-ult{
    float: right;
}
.hei-1 ul.dier-ult li{
    float: right;
}
.xk{
    display: inline-block;
    width: 21px;
    height: 13px;
    background:url(../img.hdj/bc.png) 0px -22px;
    position: relative;
    top: 4px;
    left: -4px;
}
 a:hover .kk3 {
     background:url(../img.hdj/bc.png) 0px -2px;
}
.kk2{
    background:url(../img.hdj/bc.png) -27px -22px;
}
 a:hover .kk2{
    background:url(../img.hdj/bc.png) -27px -2px;
}
.kk3{
    background:url(../img.hdj/bc.png) 21px -22px;
}
a:hover .kk3{
    background:url(../img.hdj/bc.png) -45px -2px;
}
.shu-ul2{
    position: absolute;
    width: 45px;
    height: 130px;
    position:fixed;
    top: 30px;
    right:10px;
    background: rgb(233, 232, 239);
}
..shu-ul2{
    position: absolute;
    width: 45px;
    height: 130px;
    position:fixed;
    top: 30px;
    right:10px;
    background: rgb(233, 232, 239);
}
.shu-ul2 a{
    display: inline-block;
    width: 30px;
    height: 30px;
    color:#444;
    font-size: 12px;
    padding:5px 7px;
    text-align: center;
    margin: 0.5px 0px;
    background: rgb(233, 232, 239);
    font:12px/1.5 "STHeiti","Microsoft Yahei",Arial,"Simhei,Simsun",helvetica,"sans-seri";
    position: relative;
    top: 5px;

}

.dian{
    font-size:19px;
}
.shu-ul2 a.di-si{
  /*  background-color: rgb(122, 122, 122); */
   background-image: url(../img.hdj/99.png);
}
.shu-ul2 a:hover{
   background-color:  rgb(10, 167, 112);
   color: #fff;
   width: 30px;
   height: 30px;
}
.fanhui{
   display:none;
   background-color: rgb(10, 167, 112);
   width: 30px;
   height: 30px;
   padding: 5px 7px;
   position: relative;
    top: -5px;
    left: -7px;
}
.shu-ul2 a:hover.di-si{
    background-color:rgb(122, 122, 122); 
}
.shu-ul2 a:hover.di-si .fanhui, .di-si{
   display: block;
   background-color:  rgb(10, 167, 112);
    width: 30px;
    height: 30px;
}
.active1{
    border-left: 1px solid#00a86e;
}